In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pyecharts.charts import Bar, Line, Pie
from pyecharts import options as opts
plt.rcParams['font.sans-serif'] = ['Microsoft YaHei']

In [2]:
data=pd.read_csv("C:\\Users\\李昌峻\Desktop\ccf_offline_stage1_test_revised.csv")
offline=data.copy()
offline

        User_id  Merchant_id  Coupon_id Discount_rate  Distance  Date_received
0       4129537          450       9983          30:5       1.0       20160712
1       6949378         1300       3429          30:5       NaN       20160706
2       2166529         7113       6928        200:20       5.0       20160727
3       2166529         7113       1808        100:10       5.0       20160727
4       6172162         7605       6500          30:1       2.0       20160708
...         ...          ...        ...           ...       ...            ...
113635  5828093         5717      10418          30:5      10.0       20160716
113636  6626813         1699       7595          30:1       NaN       20160707
113637  6626813         7321       7590          50:5       NaN       20160712
113638  4547069          760      13602          30:5       0.0       20160717
113639  6675965         7487        613          20:1       5.0       20160728

[113640 rows x 6 columns]

In [3]:
offline['Distance'].fillna(-1, downcast='infer', inplace=True)
offline

        User_id  Merchant_id  Coupon_id Discount_rate  Distance  Date_received
0       4129537          450       9983          30:5         1       20160712
1       6949378         1300       3429          30:5        -1       20160706
2       2166529         7113       6928        200:20         5       20160727
3       2166529         7113       1808        100:10         5       20160727
4       6172162         7605       6500          30:1         2       20160708
...         ...          ...        ...           ...       ...            ...
113635  5828093         5717      10418          30:5        10       20160716
113636  6626813         1699       7595          30:1        -1       20160707
113637  6626813         7321       7590          50:5        -1       20160712
113638  4547069          760      13602          30:5         0       20160717
113639  6675965         7487        613          20:1         5       20160728

[113640 rows x 6 columns]

In [5]:
offline['date_received'] = pd.to_datetime(offline['Date_received'], format='%Y%m%d')
# offline['date'] = pd.to_datetime(offline['Date'], format='%Y%m%d')
offline['discount_rate'] = offline['Discount_rate'].map(lambda x: float(x) if ':' not in str(x) else
    (float(str(x).split(':')[0]) - float(str(x).split(':')[1])) / float(str(x).split(':')[0]))
offline['is_manjian'] = offline['Discount_rate'].map(lambda x: 1 if ':' in str(x) else 0)
offline['Distance'].fillna(-1, downcast='infer', inplace=True)
offline

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,date_received,discount_rate,is_manjian
0,4129537,450,9983,30:5,1,20160712,2016-07-12,0.833333,1
1,6949378,1300,3429,30:5,-1,20160706,2016-07-06,0.833333,1
2,2166529,7113,6928,200:20,5,20160727,2016-07-27,0.900000,1
3,2166529,7113,1808,100:10,5,20160727,2016-07-27,0.900000,1
4,6172162,7605,6500,30:1,2,20160708,2016-07-08,0.966667,1
...,...,...,...,...,...,...,...,...,...
113635,5828093,5717,10418,30:5,10,20160716,2016-07-16,0.833333,1
113636,6626813,1699,7595,30:1,-1,20160707,2016-07-07,0.966667,1
113637,6626813,7321,7590,50:5,-1,20160712,2016-07-12,0.900000,1
113638,4547069,760,13602,30:5,0,20160717,2016-07-17,0.833333,1
113639,6675965,7487,613,20:1,5,20160728,2016-07-28,0.950000,1

In [30]:
offline.isnull().any()

User_id          False
Merchant_id      False
Coupon_id        False
Discount_rate    False
Distance         False
Date_received    False
date_received    False
discount_rate    False
is_manjian       False
dtype: bool

### 数据大致分析

In [47]:
sum = data.shape[0]
print(f'总数据：', sum, '条')

    # 共有多少条优惠券的领取记录
received_count = data['Date_received'].count()
print('优惠券领取数量：', received_count, '张')

    # 共有多少种不同的优惠券
diff_kinds = len(data['Coupon_id'].value_counts())
print('优惠券种类', diff_kinds, '种')

# 共有多少个用户
users_num = len(data['User_id'].value_counts())
print('用户数量', users_num, '位')

# 共有多少个商家
merchant_num = len(data['Merchant_id'].value_counts())
print('商家数量', merchant_num, '家')

# 最早领券时间
min_received = str(int(data['Date_received'].min()))
# 最晚领券时间
max_received = str(int(data['Date_received'].max()))
    #转化为时间模式
min_received=pd.to_datetime(min_received)
max_received=pd.to_datetime(max_received)

print('最早领卷', min_received)
print('最晚领卷', max_received)

columns_to_check = ['Date_received', 'Coupon_id', 'Merchant_id', 'User_id', 'Distance', 'Discount_rate']

for column_to_check in columns_to_check:
    missing_values = data[column_to_check].isnull().sum()
    if missing_values > 0:
        print(f"列 '{column_to_check}' 中有 {missing_values} 个缺失值。")
    else:
        print(f"列 '{column_to_check}' 中没有缺失值。")

总数据： 113640 条
优惠券领取数量： 113640 张
优惠券种类 2050 种
用户数量 76309 位
商家数量 1559 家
最早领卷 2016-07-01 00:00:00
最晚领卷 2016-07-31 00:00:00
列 'Date_received' 中没有缺失值。
列 'Coupon_id' 中没有缺失值。
列 'Merchant_id' 中没有缺失值。
列 'User_id' 中没有缺失值。
列 'Distance' 中有 12064 个缺失值。
列 'Discount_rate' 中没有缺失值。

In [50]:
# 每日领取优惠券的分析以及图像绘制
df_1 = offline[offline['Date_received'].notna()]
tmp = df_1.groupby('Date_received', as_index=False)['Coupon_id'].count()
bar_1 = Bar(init_opts=opts.InitOpts(width='1500px', height='600px'))
    # 横纵坐标设置
axis_x = list(tmp['Date_received'])
axis_y = list(tmp['Coupon_id'])
    # set
bar_1.add_xaxis(axis_x)
bar_1.add_yaxis("领取数量", axis_y)
bar_1.set_series_opts(markline_opts=opts.MarkLineOpts(data=[opts.MarkLineItem(type_="max")]))
bar_1.set_global_opts(
    title_opts=opts.TitleOpts(title='每天被领券的数量'),  # title
    legend_opts=opts.LegendOpts(is_show=True),  # 显示ToolBox
    xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(rotate=60), interval=1),  # 旋转60度
)
bar_1.render("C:\\Users\\李昌峻\Desktop\绘图\课后作业五\\bar_1.html")

'C:\\Users\\李昌峻\\Desktop\\绘图\\课后作业五\\bar_1.html'

In [ ]:
# 处理周几领取优惠券人数
    # 添加领券时间为周几
offline['weekday_Receive'] = offline['date_received'].apply(lambda x: x.isoweekday())
offline

In [64]:
# 绘图line
get_weekdays = offline[offline['weekday_Receive'].notna()]['weekday_Receive'].value_counts()
get_weekdays.sort_index(inplace=True)
print(get_weekdays)
line_1 = (
    Line()
    .add_xaxis([str(x) for x in range(1, 8)])
    .add_yaxis('周几领取', list(get_weekdays))
    .set_global_opts(title_opts={'text': '星期领取日'})
    .set_series_opts(
        opts.LabelOpts(is_show=True)  # 显示值大小
    )
)
line_1.render('C:\\Users\\李昌峻\\Desktop\\绘图\\课后作业五\\line_1.html')

weekday_Receive
1    17672
2    16871
3    15796
4    12839
5    15497
6    15560
7    19405
Name: count, dtype: int64

'C:\\Users\\李昌峻\\Desktop\\绘图\\课后作业五\\line_1.html'

### 折扣情况判断

In [87]:
# 处理打折情况
print(f'最低打折',offline['discount_rate'].max())
print(f'最高打折',offline['discount_rate'].min())
print(f'平均折扣',offline['discount_rate'].mean())
offline['discount_rate']

最低打折 0.99
最高打折 0.3333333333333333
平均折扣 0.8506708611991083

0         0.833333
1         0.833333
2         0.900000
3         0.900000
4         0.966667
            ...
113635    0.833333
113636    0.966667
113637    0.900000
113638    0.833333
113639    0.950000
Name: discount_rate, Length: 113640, dtype: float64

In [ ]:
received = offline[['discount_rate']]
received['cnt'] = 1
received = received.groupby('discount_rate').agg('sum').reset_index()

# 注意这里使用了 received['discount_rate']，确保使用正确的列名
discount_rate_x = list(received['discount_rate'])
discount_rate_y = list(received['cnt'])

bar_2 = (
    Bar()
    .add_xaxis(discount_rate_x)
    .add_yaxis('领取数量', discount_rate_y)
    .set_global_opts(title_opts={'text': '优惠券折扣情况'})
    .set_series_opts(opts.LabelOpts(is_show=True))
)

bar_2.render('C:\\Users\\李昌峻\\Desktop\\绘图\\课后作业五\\bar_2.html')

### 下面分析商家距离

In [88]:
dis = offline[offline['Distance'] != -1]['Distance'].value_counts()
dis.sort_index(inplace=True)
dis

Distance
0     43867
1     18474
2      9523
3      5934
4      4006
5      2977
6      2179
7      1685
8      1359
9      1219
10    10353
Name: count, dtype: int64

In [97]:
# 绘图
bar_3 = (
        Bar()
        .add_xaxis([str(x) for x in range(0, 11)])
        .add_yaxis('消费距离', list(dis))
        .set_global_opts(title_opts={'text': '卖家和买家距离条形图'})
        .set_series_opts(
            opts.LabelOpts(is_show=False)  # 显示值大小
    )
)
bar_3.render('C:\\Users\\李昌峻\\Desktop\\绘图\\课后作业五\\bar_3.html')

'C:\\Users\\李昌峻\\Desktop\\绘图\\课后作业五\\bar_3.html'

优惠券占比图

In [100]:
v1 = ['折扣', '满减']
v2 = list(offline[offline['Date_received'].notna()]['is_manjian'].value_counts())
pie_1 = (
    Pie()
    .add('', [list(v) for v in zip(v1, v2)])
    .set_global_opts(title_opts={'text': '各类优惠券数量占比饼图'})
    .set_series_opts(label_opts=opts.LabelOpts(formatter='{b}: {c}'))
    )
pie_1.render('C:\\Users\\李昌峻\\Desktop\\绘图\\课后作业五\\pie_1.html')

'C:\\Users\\李昌峻\\Desktop\\绘图\\课后作业五\\pie_1.html'